html {
    height: 100%;
}

body {
    font-family: 'Noto Sans TC', sans-serif;
    background-color: black;
    margin: 0px;
}

#page-top {
    position: fixed;
    right: 30px;
    bottom: 60px;
    color: #CCA330;
}


/*********************************/


/**********header area************/


/*********************************/

.header {
    border-bottom: 1px solid white;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    width: 90%;
    padding: 0;
    margin: auto;
}

.navbar {
    margin: auto 0;
    padding: 0;
}

.navbar>ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

.navbar>ul>li>a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
}

.navbar>ul>li:hover {
    background-color: #CCA330;
}

.navbar>ul>li>a:hover {
    color: black;
}

.menu-icon {
    display: none;
}


/*********************************/


/***********關於我們about**********/


/*********************************/

.about {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    width: 90%;
    margin: auto;
}

.about>.content {
    /* flex-basis: 40%; */
    /* min-width: 450px; */
}

.about>.about_photo {
    /* flex-basis: 40%; */
    /* max-width: 432px; */
}

.about .title {
    color: #CCA330;
    font-size: 1.5em;
    margin: 22px 0px;
}

.about p {
    color: white;
    /* font-size: 1.5em; */
    margin: 10px 0px;
}

.about img {
    margin: 2% 0;
    width: 100%;
}


/*********************************/


/***********最新消息news***********/


/*********************************/

.news {
    width: 90%;
    max-width: 1440px;
    margin: auto;
}

.news .title {
    color: #CCA330;
    font-size: 1.5em;
    margin: 22px 0px;
}

.news-box {
    display: flex;
    /* justify-content: space-around; */
    margin-bottom: 60px;
}


/*.news-box>div {
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 1;
}
*/

.news-box>.pic {
    margin-right: 2%;
}

.news-box img {
    max-width: 200px;
}

.news_title a {
    text-decoration: none;
    color: rgb(247, 218, 54);
    font-size: 1.3rem;
}

.news-box .text,
.news-box .date {
    color: rgb(255, 255, 255);
    font-size: 1rem;
}


/****************************/


/********師資介紹trainer******/


/****************************/

.trainer {
    display: flex;
    justify-content: flex-start;
    position: relative;
    width: 90%;
    max-width: 1440px;
    margin: auto;
}

#main {
    margin: auto;
    width: 100%;
    max-width: 1140px;
    /* position: relative; */
}

#main>img {
    width: 90%;
    /* height: 10%; */
}

.trainer .title {
    color: #CCA330;
    font-size: 1.5em;
    margin-top: 22px;
}

.trainer .menu {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 78%;
    top: 500px;
    /* right: 9%; */
}

.trainer .menu img {
    overflow: hidden;
}

.item1,
.item2,
.item3 {
    overflow: hidden;
}

.item1:hover {
    transform: scale(1.5);
}

.item2:hover {
    transform: scale(1.5);
}

.item3:hover {
    transform: scale(1.5);
}

.right_area {
    padding-left: 10%;
    position: relative;
}

.info {
    width: 100%;
    display: flex;
    /* margin-bottom: 5%; */
}

.info h2 {
    font-weight: 700;
    font-size: 2vmax;
    width: 100%;
    padding-bottom: 10px;
    letter-spacing: 0.1em;
    color: #CCA330;
    margin-top: 10%;
}

.info p {
    font-size: 0.9em;
    letter-spacing: 0.1em;
    margin-bottom: 0;
    color: #FFF;
}

.info .sub_title {
    margin-top: 4%;
    font-size: 1.2rem;
    color: #FFEECA;
}

.no-active {
    display: none;
}

.active {
    display: block;
}

.hideimg {
    display: none;
}


/*********************************/


/***********課程介紹course*********/


/*********************************/


/* .trainer .title {
    color: #CCA330;
    font-size: 1.5em;
    margin-top: 22px;
} */

.area-content {
    display: flex;
}

.area-content>.photo>img {
    width: 100%;
    overflow: hidden;
}

.area-content:nth-child(odd)>.photo {
    order: 1;
}

.area-content .text {
    padding: 7%;
    color: white;
    font-size: 1em;
}

.area-content h5 {
    color: #CCA330;
    font-weight: bolder;
    font-size: 1.5em;
    margin: 10px 0px;
}

.area-content h6 {
    color: rgb(236, 200, 100);
    font-size: 1.2em;
    margin: 10px 0px;
}

.area-content>div {
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 1;
}


/*********************************/


/**********聯絡我們contact*********/


/*********************************/

.contact {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1440px;
    margin: auto;
}

.content .title {
    color: #CCA330;
    font-size: 1.5em;
    margin: 22px 0px;
}

.contact>.content p {
    color: white;
    /* font-size: 1.5em; */
    margin: 40px 0px;
}

.contact>.map iframe {
    margin: 2% 0;
}


/* **********footer********** */


/* **********footer********** */


/* **********footer********** */

.footer {
    height: 200px;
    display: flex;
    border-top: 1px solid white;
}

.footer-link {
    width: 55%;
    align-items: center;
}

.footer-link h4 {
    font-size: 1em;
    color: white;
    letter-spacing: .1em;
    margin-bottom: 10px;
}

.footer-link ul {
    display: flex;
    padding: 0;
    margin: auto;
}

.footer-link ul li {
    list-style-type: none;
}

.footer-link li+li::before {
    content: '|';
    color: white;
    display: inline-block;
    margin: 0.2em 1em;
}

.footer-link ul li a {
    text-decoration: none;
    color: #CCA330;
    letter-spacing: .1em;
}

.footer-link ul li a:hover {
    color: #FFEECA;
}

.footer-list-item {
    width: 14%;
    max-width: 130px;
    margin: 0 1%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-facebook-square,
.fa-instagram {
    color: rgb(255, 255, 255);
    padding: 0px 0px;
}

.fa-facebook-square:hover,
.fa-instagram:hover {
    color: #CCA330;
}

.copyright {
    color: black;
    background-color: #CCA330;
    text-align: center;
    line-height: 40px;
    font-size: 1rem;
}

@media screen and (max-width: 992px) {
    .navbar {
        /* border-bottom: 1px solid white; */
        position: absolute;
        z-index: 55;
    }
    .menu-icon {
        display: block;
        color: #CCA330;
        float: right;
        margin: auto 0;
    }
    .navbar {
        display: none;
        padding: 0;
        top: 61px;
        width: 100%;
        list-style-type: none;
        right: 0;
    }
    .navbar>ul>li {
        /* line-height: 40px; */
        background-color: black;
        text-align: center;
        border-bottom: 1px solid white;
    }
    .navbar>ul>li>a {
        display: block;
        text-decoration: none;
        color: white;
    }
    .container {
        display: flex;
        flex-wrap: nowrap;
        width: 90%;
    }
    .navbar>ul {
        display: block;
    }
    .area-content {
        display: block;
        margin-bottom: 5%;
    }
    .about {
        display: block;
        width: 90%;
        margin: auto;
    }
    .about>.content {}
    .contact {
        display: block;
        /* justify-content: space-between; */
        width: 80%;
        margin: auto;
    }
    .contact>.map iframe {
        width: 100%;
        max-width: 600;
        /* margin: auto; */
    }
    .news-box {
        display: block;
    }
    .footer-link {
        width: 55%;
        align-items: center;
        padding-left: 10%;
    }
    .footer-link ul {
        display: block;
        padding: 0;
        margin: auto;
    }
    .footer-link li+li::before {
        display: none;
    }
    .footer-list-item {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 47%;
    }
    .trainer {
        display: block;
        width: 80%;
        margin: auto;
    }
    #main {
        display: none;
    }
    .trainer .title {
        color: #CCA330;
        font-size: 1.5em;
        margin-top: 22px;
    }
    .trainer .menu {
        display: none;
    }
    .right_area {
        padding-left: 0;
    }
    .info {
        width: 100%;
        display: block;
        margin-bottom: 30%;
    }
    .info h2 {
        font-weight: 700;
        font-size: 1.2rem;
        width: 100%;
        padding-bottom: 10px;
        letter-spacing: 0.1em;
        color: #CCA330;
        margin-top: 10%;
    }
    .info .sub_title {
        margin-top: 4%;
        margin-bottom: 4%;
        font-size: 1rem;
        color: #FFEECA;
    }
    .info p {
        font-size: 1rem;
        letter-spacing: 0.1em;
        margin-bottom: 0;
        color: #FFF;
    }
    .hideimg {
        display: block;
        margin: auto;
    }
    .hideimg>img {
        margin: auto;
        width: 80%;
    }
}